PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sisedgua
DB_USER=sisedgua_user
DB_PASS=sisedgua_pass
JWT_SECRET=sisedgua_super_secret_jwt_key_2026
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
TZ=America/Caracas
